div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 130px;
    float: left;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: "104";
    height: "142";
}

div.desc {
    padding: 15px;
    text-align: center;
}